<!-- Algolia scripts -->
<!-- https://docsearch.algolia.com/docs/docsearch-v3/ -->
<script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
<script type="text/javascript">
  docsearch({
    appId: "N8CGG8QW9W",
    apiKey: "b6e8c38c0f267ffa1ed81dd62fd603fa",
    indexName: "jreyesrio",
    container: "#docsearch",
    debug: false, // Set debug to true if you want to inspect the modal
  });
</script>

<!-- medium-zoom (zoom images on click, à la Medium) -->
<!-- https://github.com/francoischalifour/medium-zoom#usage -->
<!-- needs the event listener because the actual plugin script is deferred -->
<script type="text/javascript">
    window.addEventListener('DOMContentLoaded', function() {
        const zoom = mediumZoom('img', {
          margin: 24,
        });
        zoom.detach('a img'); // Ignore images that are wrapped in <a>s (since those should be clickable anyways and take users somewhere)
    });
    
</script>

