<!-- Algolia scripts -->
<!-- https://docsearch.algolia.com/docs/docsearch-v3/ -->
<script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
<script type="text/javascript">
  docsearch({
    appId: "N8CGG8QW9W",
    apiKey: "b6e8c38c0f267ffa1ed81dd62fd603fa",
    indexName: "jreyesrio",
    container: "#docsearch",
    debug: false, // Set debug to true if you want to inspect the modal
  });
</script>

<!-- medium-zoom (zoom images on click, à la Medium) -->
<!-- https://github.com/francoischalifour/medium-zoom#usage -->
<!-- needs the event listener because the actual plugin script is deferred -->
<script type="text/javascript">
    window.addEventListener('DOMContentLoaded', function() {
        const zoom = mediumZoom('img', {
          margin: 24,
        });
        zoom.detach('a img'); // Ignore images that are wrapped in <a>s (since those should be clickable anyways and take users somewhere)
        zoom.detach('.compare img'); // Ignore images that will have the slide-to-compare thingy
    });
    
</script>

{{ if .Store.Get "enable_compare_sliders" }}
<script>
for(const compareSlider of document.querySelectorAll(".compare")) {
  const input = compareSlider.querySelector(".compare__input");

  input.addEventListener("input", () => {
    compareSlider.style.setProperty("--mask-width", `${input.value}%`);
  });

  compareSlider.style.setProperty("--mask-width", `${input.value}%`);
}
</script>
{{ end }}

{{ if eq (.Store.Get "enable_galleries") true }}
<script>
function initGallery(id) {
  console.log("Enabling gallery", id);
}
</script>
{{ end }}

{{ if eq (.Store.Get "enable_galleries") true }}
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js" integrity="sha384-RbYB5yr9jD1p+2OHlV3KzOBLAY48CbFsJ87bXEFYINGgOlQJNE4cEjTUf+Q2fygb" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">

<script>
  for (const e of document.getElementsByClassName('splide')) {
    new Splide(e).mount();
  }
</script>
{{ end }}
