{{ define "main" }}
    {{ if .Menus }}
        <nav class="post-navigation">
        {{ range .Menus }}
            <a href="{{ .ConfiguredURL | absLangURL }}" title="{{ .Title }}">{{ .Name }}</a>
        {{ end }}
        </nav>
    {{ end }}
    
    

    <article class="post h-entry">
        <div class="post-header">
            <header>
                <h1 class="p-name post-title{{ if .Params.favorite }} favorite{{end}}{{ if .Params.draft }} draft{{end}}">{{ trim .Title  " " }}</h1>

                {{ partial "post-language-switcher.html" . }}
            </header>
            
            <div>
            <small>Published on {{ .Params.date.Format "2006-01-02T15:04" }} America/Guayaquil</small>
            </div>
            
            {{ range .Params.series }}
            <div>
            <small>This post is part of a series: <a href="/series/{{ . }}">{{ . }}</a></small>
            </div>
            {{ end }}
        </div>
        
        {{ if and (gt .WordCount 400 ) (.Params.toc) }}
        <aside>
            <header>
            <h2>In this post...</h2>
            </header>
            {{ .TableOfContents }}
        </aside>
        {{ end }}
        
        <div class="content e-content">
            {{ .Content }}
        </div>
        {{ partial "post-info.html" . }}
    </article>
    


    {{ if gt .Site.Params.readNextPosts 0 }}
        {{ $related := .Site.RegularPages.Related . | first .Site.Params.readNextPosts }}
        {{ with $related }}
            <h3 class="read-next-title">{{ i18n "readNext" }}</h3>
            <ul class="read-next-posts">
                {{ range . }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
            </ul>
        {{ end }}
    {{ end }}

    {{ if and (.Site.Params.paginationSinglePost) (ne .Type "page") }}
        {{ partial "post-pagination.html" . }}
    {{ end }}

    {{ if not .Params.disableComments }}
        {{ partial "comments.html" . }}
    {{ end }}
    
    {{ if .Page.Store.Get "hasMermaid" }}
      <script type="module">
        import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
        mermaid.initialize({ startOnLoad: true });
      </script>
    {{ end }}
{{ end }}
